@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

:root{
    --headers: hsl(192, 100%, 9%);
    --bodyActions: hsl(208, 11%, 55%);
    --headersFont: 'Poppins', sans-serif;
    --bodyActionsFont: 'Open Sans', sans-serif;
    --btncolor: hsl(322, 100%, 66%);
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #fff;
    height: 100vh;
}

.main-container{
    background-color: #fff;
}

/*begin first section*/
.container-header{
    box-sizing: border-box;
    background-color: hsl(193, 100%, 96%);
    background-image: url(/images/bg-hero-desktop.svg);
    background-repeat: no-repeat;
    background-size: auto;
    margin: 0 auto;
    padding: 3em 5em;
    max-width: 100%;
    height: 95vh;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.huddle-logo{
    width: 200px;
}

.try-it > h1{
    color: var(--headers);
    font-family: var(--headersFont);
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    background-color: #fff;
    border-radius: 25px;
    width: 105px;
    padding: 0.5em 2.5em;
    box-shadow: 0 0 5px 1px hsl(208, 11%, 55%);
}

.intro-page{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1em 0;

}

.aside-content{
    display: flex;
    flex-direction: column;
    width: 700px;
}

.aside-content > h1{
    color: var(--headers);
    font-family: var(--headersFont);
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
    margin: 2.5em 0 0;
    width: 500px;
}

.aside-content > p{
    color: var(--bodyActions);
    font-size: 17px;
    font-family: var(--bodyActionsFont);
    font-weight: 700;
    margin: 2em 0 1em;
    width: 520px;
}

.get-started{
    font-family: var(--bodyActionsFont);
    font-size: 13px;
    color: hsl(193, 100%, 96%);
    text-align: center;
    background-color: var(--btncolor);
    border-radius: 50px;
    margin: 1em 0 0;
    padding: 1.5em 0;
    width: 280px;
}

.mockups{
    position: relative;
    top: 33px;
    width: 700px;
    padding: 1em 0 0 3em;
}
/*end first section*/

/*begin 2nd section*/
.cards-container{
    background-color: #fff;
    margin: 6em auto;
    padding: 2.5em 0;
}

.card{
    display: flex;
    align-items: center;
    box-shadow: 0 0 5px 1px hsl(208, 11%, 55%);
    border-radius: 15px;
    margin: 2em auto;
    width: 1235px;
    height: 59vh;
}

.card-content > h1{
    color: var(--headers);
    font-family: var(--headersFont);
    font-size: 28px;
    margin: 1em 4.3em 0.4em;

}

.card-content > p{
    color: var(--bodyActions);
    font-family: var(--bodyActionsFont);
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin: 0 6.7em;
    width: 500px;
}

.grow-img, .flowing-img, .users-img{
    width: 400px;
    padding: 3em;
}

/*end 2nd section*/

/*begin of 3rd section*/
.ready{
    position: relative;
    top: 10px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 5px 1px hsl(208, 11%, 55%);
    text-align: center;
    margin: 0 auto;
    width: 800px;
    padding-bottom: 3em;

}

.ready > h1{
    color: var(--headers);
    font-family: var(--headersFont);
    font-size: 30px;
    padding: 2em 0 1em;
}

.ready > .get-started{
    margin: 0 auto;
    padding: 2em 0;
    width: 400px;
}

.filter{
    filter: brightness(0) invert(1);
}

footer {
    color: #fff;
    background-color: hsl(192, 100%, 9%);
    margin-top: -85px;
    padding: 13em 10em 3em;
    height: 40vh;
}

.footer-container{
    display: flex;
    justify-content: space-between;
}

img, li{
    display: inline;
    list-style: none;
}

address, .info, .more-info, .copy{
    color: var(--bodyActions);
    font-family: var(--bodyActionsFont);
    font-weight: 700;
    font-style: normal;
}

address{
     width: 420px;
}

address > ul > li > p{
    display: inline-block;
    margin: 1em 2em;
}

.location{
    position: relative;
    left: 21px;
}

.location-icon{
    position: relative;
    top: 40px;
}

.info{
    position: relative;
    top: 25px;
    height: fit-content;
}

.info > ul > li > h1{
    padding: 0.5em 0;
}

.more-info{
    position: relative;
    top: 20px;
    height: fit-content;
}

.more-info > ul > li > h1{
    padding: 0.5em 0;
}

.social{
    position: relative;
    top: 30px;
    height: fit-content;
}

.social > i{
    margin: 0 0.5em;
}

.copy{
    position: relative;
    left: 70px;
    float: right;
    font-size: 10px;
}

/*end of 3rd section*/